In [2]:
import pandas as pd

In [3]:
# import the excel workbook
civil = "Civil_Reporting _Template.xlsm"
mech = "Mechanical_Reporting _Template - MECH.xlsm"
pipe = "Piping_Reporting _Template.xlsm"
civil_ws = pd.ExcelFile(civil)
mech_ws =  pd.ExcelFile(mech)
pipe_ws =  pd.ExcelFile(pipe)

In [4]:
civil_df = civil_ws.parse(1)
mech_df =  mech_ws.parse(1)
pipe_df =  pipe_ws.parse(1)

C:\Users\Jola\anaconda3\envs\py38_env\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\Jola\anaconda3\envs\py38_env\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [5]:
# remove unnamed column
def rem_unnamed(df):
    
    ''' remove the unnamed column from the DataFrame'''
    
    df_list = df.columns.to_list()
    indexlist = []
    for unnamed in  df_list:
        if "Unnamed" in unnamed:
            indexlist.append(unnamed)
        else:
            pass
    df.drop(columns = indexlist, inplace = True)
    df.dropna()
    return df

In [6]:
civil_df = rem_unnamed(civil_df)
mech_df = rem_unnamed(mech_df)
pipe_df = rem_unnamed(pipe_df)

In [7]:
#select column to use for filtering 

def select_for_dropna(df):
    
    ''' select column names associated with type, name and owner'''
    
    dropna_indexlist = []
    for column in df.columns.to_list():
        if 'Type'in column:
            dropna_indexlist.append(column)
        elif 'Name'in column:
            dropna_indexlist.append(column)
        elif 'Owner' in column:
            dropna_indexlist.append(column)
        else:
            pass
    return(dropna_indexlist)

In [8]:
 # remove null rows based on three column
# name, type and owner
pipe_dropna_list  = select_for_dropna(pipe_df)
mech_dropna_list  = select_for_dropna(mech_df)
civil_dropna_list  = select_for_dropna(civil_df)

# Drop rows with null values in the three columns
civil_df.dropna(subset = civil_dropna_list, inplace = True )
mech_df.dropna(subset = mech_dropna_list, inplace = True )
pipe_df.dropna(subset = pipe_dropna_list, inplace = True )

In [9]:
civil_df

,S/N,Structure_Type,Structure_Name,Owner,Time_Alloted(hrs),Start_Date,End_Date,Last_Updated,Estimated_End_Date,Time_Taken,Status,%_Completion,Quality_Checked,Comment,holiday
0,1.0,Equip Str & L,Water Tank Structural Platform,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,2023-06-29
1,2.0,Skid,Inlet Manifold Skids-1,Funbi,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,2023-06-30
2,3.0,Skid,Inlet Manifold Skid-2,Funbi,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,2023-10-02
3,4.0,Skid,Inlet Manifold Skid-3,Funbi,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,2023-06-25
4,5.0,Shelter,Pump House,Jola,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,2023-06-26
5,6.0,Skid,Pump Skid,Jola,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
6,7.0,Shelter,Diesel Oil Storage Area,Scholastica,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
7,8.0,Shelter,Diesel Tank Shelter,Scholastica,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
8,9.0,Shelter,Generator House,Scholastica,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
9,11.0,Shelter,Mess Room,Scholastica,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
10,12.0,Shelter,Radio Hut,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,Undone,NaN,NaN,Please Add Comment,NaT
11,13.0,Shelter,Radio Room,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
12,14.0,Skid,Test Seperator-2 Skid,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
13,15.0,Skid,Test Seperator-1 Skid,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
14,16.0,Skid,HP Seperator-2 Skid,Ebube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
15,17.0,Skid,HP Seperator-1 Skid,Ebube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
16,18.0,Skid,LP Seperator-2 Skid,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
17,19.0,Shelter,LP Seperator-1 Skid,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
18,20.0,Ground,Fire Wall,Jola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
19,21.0,Skid,Surge Vessel -1 Skid,Ebube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
20,22.0,Skid,Surge Vessel -2 Skid,Ebube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
21,23.0,Shelter,Metering Skid,Ebube,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
22,24.0,Shelter,Rectifier Transformer Area,Leke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
23,25.0,Ground,Oil Saver Pit,Jola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
24,26.0,Skid,Chemical Injection Skid,Leke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
25,27.0,Ground,Ground & Drainage,Jola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT
26,28.0,Fence,Fence,Emiko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please Add Comment,NaT